In [1]:
from modeling.data.video_action import fetch_data

In [2]:
import pandas as pd
pd.read_json("gs://induction-labs/jonathan/sampled_trajectories/osworld_uitars_5x_en_fixed_browser/samples_fixed.jsonl", lines=True)

,eval_task_id,attempt_id,instruction,reward,output_folder,trajectory_length,failed
0,3ef2b351-8a84-4ff2-8724-d86eae9b842e,3beb7b89afe948d0add3166c0117432e,Help me center align the heading in LibreOffice.,1,gs://induction-labs-data-ext-mumbai/evals/test...,5,False
1,72b810ef-4156-4d09-8f08-a0cf57e7cefe,ad6da76ce4864c8d8f6f3453a0f0965a,I am peer-reviewing my friend's course outline...,1,gs://induction-labs-data-ext-mumbai/evals/test...,5,False
2,dd84e895-72fd-4023-a336-97689ded257c,6c75f88f9fdb448484926957b87c1b6d,Add a star to every email in local Bills folder,1,gs://induction-labs-data-ext-mumbai/evals/test...,6,False
3,e528b65e-1107-4b8c-8988-490e4fece599,d87f929107534fffa0548e08b015f558,Please help me make the first letter of each w...,1,gs://induction-labs-data-ext-mumbai/evals/test...,6,False
4,08aced46-45a2-48d7-993b-ed3fb5b32302,409dac12fdb740e686232151cb7388d2,"Give the slide 2 the right aligned title, ""Note"".",1,gs://induction-labs-data-ext-mumbai/evals/test...,7,False
...,...,...,...,...,...,...,...
1128,535364ea-05bd-46ea-9937-9f55c68507e8,55cbc75da9d048248ed8a6bcd0816683,Create two tables in a new sheet showing the t...,0,gs://induction-labs-data-ext-mumbai/evals/test...,97,False
1129,e2392362-125e-4f76-a2ee-524b183a3412,ba9d2bb7e815485dbf5137bc9492c028,I recently started using the famous personal a...,0,gs://induction-labs-data-ext-mumbai/evals/test...,101,False
1130,b52b40a5-ad70-4c53-b5b0-5650a8387052,47a8a1593c4e4bd0829411633332b9b6,"Could you help me merge all PDF files in the ""...",0,gs://induction-labs-data-ext-mumbai/evals/test...,98,False
1131,adf5e2c3-64c7-4644-b7b6-d2f0167927e7,723529122c004e7eae9c55d58fd063f7,"Help me adding ""Steinberg, F. M., Bearden, M. ...",0,gs://induction-labs-data-ext-mumbai/evals/test...,101,False
1132,e2392362-125e-4f76-a2ee-524b183a3412,a2d2edbba4a2471dbe2ab09a04d9b21e,I recently started using the famous personal a...,0,gs://induction-labs-data-ext-mumbai/evals/test...,101,False

In [14]:
from modeling.data.trajectory_train import VlDataset, VlDatasetArgs

In [ ]:
VlDataset.constructor(VlDatasetArgs(
    dataset_path="gs://induction-labs/jonathan/sampled_trajectories/uitars_initial_osworld_fixed/samples_correct.jsonl",
    seq_len=8192,
    tokenizer_name="ByteDance-Seed/UI-TARS-1.5-7B"
))

In [1]:
import pandas as pd

In [11]:
res = pd.read_json("gs://induction-labs/jonathan/sampled_trajectories/uitars_initial_osworld_fixed/metadata/aae07460ac1c4a25939225e727fecdcb.json").iloc[0:-1][["image", "text"]].to_dict(orient="records")

In [2]:
from transformers import AutoTokenizer

In [4]:
tokenizer = AutoTokenizer.from_pretrained("Qwen/Qwen2.5-Omni-3B", trust_remote_code=True)

In [ ]:
await fetch_data(
  num_actions=8,
  path="gs://induction-labs/jonathan/synth/cursor_follow_v1/sample_3.zarr",
  seq_length=8192,
)

Unused or unrecognized kwargs: images.

len(non_video_input_ids)=4, len(video_input_ids)=4080, num_video_tokens=4080, seq_length=8192

ActionDataSample(qwen_inputs=QwenInputs(input_ids=tensor([151644,    872,    198,  ...,      0,      0,      0]), attention_mask=tensor([1, 1, 1,  ..., 0, 0, 0]), pixel_values_videos=tensor([[1.9303, 1.9303, 1.9303,  ..., 2.1459, 2.1459, 2.1459],
        [1.9303, 1.9303, 1.9303,  ..., 2.1459, 2.1459, 2.1459],
        [1.9303, 1.9303, 1.9303,  ..., 2.1459, 2.1459, 2.1459],
        ...,
        [1.9303, 1.9303, 1.9303,  ..., 2.1459, 2.1459, 2.1459],
        [1.9303, 1.9303, 1.9303,  ..., 2.1459, 2.1459, 2.1459],
        [1.9303, 1.9303, 1.9303,  ..., 2.1459, 2.1459, 2.1459]]), video_grid_thw=tensor([[ 8, 34, 60]]), video_second_per_grid=tensor([1.])), cursor_path=tensor([[[0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.]],

        ...,

        [[0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.]],

        [[0., 0., 0.],
         [0., 0., 0.]]]), action_tokens=tensor([False, False, False,  ..., False, False, False]))

In [4]:
_.qwen_inputs.input_ids[-20:]

tensor([151656, 151656, 151656, 151656, 151656, 151656, 151656, 151656, 151656,
        151656, 151656, 151656, 151656, 151656, 151656,     -1,      0,      0,
             0,      0])

In [1]:
import pandas as pd
df = pd.read_json("gs://induction-labs/jonathan/sampled_trajectories/osworld_uitars_10x_en_5k/samples_correct_expanded_5_under_20_turns_train.jsonl", lines=True)

In [5]:
df[df["unmask_last_only"] == False].to_json(
    "gs://induction-labs/jonathan/sampled_trajectories/osworld_uitars_10x_en_5k/samples_correct_expanded_5_under_20_turns_train_only_5.jsonl",
    lines=True, orient="records"
)